  <% content_for :title do %>
    FoodLog &ndash; <%= DateTime.now.to_s(:nice_date) %>
  <% end %>

   <div class="columns mt-6  is-centered">
     <% @entries.each do |entry| %>
       <div class="colum is-one-quarter" style=" margin: 10px">
         <div class="card">
           <header class=" card-header">
             <p class="card-header-title" style="color: white;background-color: dodgerblue"><%= entry.meal_type.upcase %> </p>
           </header>
           <div class="card-content">
             <div class="content">
               <p><span class="has-text-weight-bold"><%=entry.calories %></span> Calories</p>
               <p><span class="has-text-weight-bold"><%= entry.proteins %></span> Grams of protein</p>
               <p><span class="has-text-weight-bold"><%= entry.carbohydrates %></span> Grams of carbohydrates</p>
               <p><span class="has-text-weight-bold"><%= entry.fats %></span> Grams of fat</p>
               <p><span class="italic">Logged <%= time_ago_in_words(entry.created_at) %> ago</span></p>
               <i class="bi bi-alarm-fill"></i>
             </div>
           </div>
           <div class="card-footer">
               <%= link_to 'Show', entry, class: "button is-primary is-light  card-footer-item" %>
               <%= link_to 'Edit', edit_entry_path(entry), class: "button is-info is-light card-footer-item" %>
               <%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-danger is-light ,card-footer-item" %>
           </div>
         </div>
       </div>
     <% end %>
   </div>